<div class="spinner-container">
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</div>
<div class="exercise-table-wrapper" *ngIf="!(isLoading$ | async)">
  <div class="exercise-actions">
    <button mat-button color="secondary" (click)="openAddExerciseFormDialog()">
      <mat-icon>add</mat-icon> Add new exercise
    </button>
  </div>

  <div class="exercise-filters">
    <mat-form-field>
      <mat-select (selectionChange)="categorySelectionChange($event)">
        <mat-option *ngFor="let cat of categoriesSelect" [value]="cat.value">
          {{ cat.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table
    (matSortChange)="sortData($event)"
    matSort
    mat-table
    [dataSource]="filteredExercises"
    class="mat-elevation-z8 exercise-table"
  >
    <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id">Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="description">
        Description
      </th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="category">
        Category
      </th>
      <td mat-cell *matCellDef="let element">
        {{ categories[element.category] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bodyPart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="bodyPart">
        Body Part
      </th>
      <td mat-cell *matCellDef="let element">
        {{ bodyParts[element.bodyPart] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
