.exercise-table-wrapper {
  .exercise-actions {
    margin-bottom: 10px;
  }
  .exercise-table {
    width: 100%;
    .mat-column-id {
      width: 10%;
    }
    .mat-column-name {
      width: 30%;
    }
    .mat-column-category,
    .mat-column-bodypart {
      width: 15%;
    }
    .mat-column-description {
      width: 30%;
    }
    td,
    th {
      padding: 2%;
      text-align: left;
    }
  }
}
