<!-- Reactive forms-->

<h2 mat-dialog-title>Add new exercise</h2>

<mat-dialog-content [formGroup]="addExerciseForm">
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of categories" [value]="cat.value">
          {{ cat.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="bodyPart">
        <mat-option *ngFor="let bp of bodyParts" [value]="bp.value">
          {{ bp.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <p
    style="color: red;"
    [hidden]="addExerciseForm.valid || !addExerciseForm.touched"
  >
    Form not completed!
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="submit()">
    Submit
  </button>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
