.login-form-container {
  width: 100%;
  margin: 0 px auto;
  margin-top: 200 px;
  text-align: center;

  .social-logins {
    display: flex;
    flex-direction: column;
    button {
      margin-top: 20px;
    }
  }
}

.form-field {
  display: block;
}
