.training-table {
  width: 100%;
  .mat-column-name,
  .mat-column-description,
  .mat-column-trainingType {
    width: 20%;
  }
  .mat-column-difficulty {
    width: 15%;
    padding: 0;
  }
  .mat-column-operations {
    width: 25%;
  }
  td,
  th {
    padding: 2%;
    text-align: left;
  }
}
