
<!-- Toolbar -->
<mat-toolbar>
  <mat-toolbar-row class="toolbar-row">
    <a class="toolbar-title" routerLink="/">train.me</a>
    <a class="toolbar-element" routerLink="/exercise">Exercises</a>
    <a class="toolbar-element" routerLink="/training">Trainings</a>
    <span class="example-spacer"></span> 
    <a mat-button routerLink="/login">Login</a>
    <a mat-raised-button color="primary" routerLink="/register">Register</a>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">verified_user</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>


<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
