<!-- Reactive forms-->

<h2 mat-dialog-title>Add exercise to training</h2>

<mat-dialog-content [formGroup]="addTrainingExerciseForm">
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Exercise"
        aria-label="exercise"
        [matAutocomplete]="auto"
        formControlName="exercise"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="getExerciseName">
        <mat-option
          *ngFor="let exercise of filteredExercises$ | async"
          [value]="exercise"
        >
          <span>{{ exercise.name }}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
  </div>

  <p
    style="color: red;"
    [hidden]="addTrainingExerciseForm.valid || !addTrainingExerciseForm.touched"
  >
    Form not valid!
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="submit()">
    Submit
  </button>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
